<% include partials/head %>

<body> 
    <div class="container">
    <div class="card card-main">
         <div class="card-header card-main-header" data-background-color="blue">
             <h1 class="titleh1">Nightlife App</h1>
             <p class="category" id="mainTitle">Design by Julio Escobar</p>
         </div>
            
            <div class="card-form">
            <form action="/search" method="post">
              <div class="form-group">
              <label class="category" id="newCityLabel">City: </label>
              <input type="text" class="form-control input-control" name="city" placeholder="Enter New City" maxlength="50">
              <input type="submit" class="form-control submit-control btn-default submitSearch" value="Search" />
              </div>
              
            </form>
            </div>
            
            
            <div class="card-footer card-footer-main">
            <div class="stats">
                 <a id="loginB" href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
                 <a id="signupB" href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
                <a id="twitterB" href="/auth/twitter" class="btn btn-default"><span class="fa fa-twitter"></span> Twitter</a>
                <a id="googleB" href="/auth/google" class="btn btn-default"><span class="fa fa-google-plus"></span> Google</a> 
                <a id="logoutB" href="/logout" class="btn btn-default"><span class="fa fa-user"></span> Logout</a>
            </div>
            </div>    
        </div>
        
        <div class="row">
        <div class="col-sm-7 col-md-6 col-lg-5 col-xs-12">
        <div class="card">
         <div class="card-header card-header-bars-title" data-background-color="purple">    
                <%= specificbar.name %>
        </div> 
        <div class="row">
        <div class="card-contentS">
            <div class="col-sm-5 col-md-5 col-lg-5 col-xs-12">
            <img id="imgSpecificBar" src="<%= specificbar.image_url %>">
            </div>
             <div id="infoSpecificBar" class="col-sm-7 col-md-7 col-lg-7 col-xs-12">
             <p><%= specificbar.location.display_address[0] %></p>
             <p><%= specificbar.location.display_address[1] %> - <%= specificbar.location.display_address[2] %></p>
             <p><%= specificbar.display_phone %></p>
             </div>
            </div>
        </div>
        </div>
        </div>   
    </div>   
        
    <% if ( notfound == "No results found.") { %>
        <p><%= notfound %></p> 
        
    <%    } %> 
    
    
    
    </div>
    
</body>
</html>